{% extends 'base.html.twig' %}

{% block title %}
  La Regina | About
{% endblock %}

{% block content %}
  <section class="card" id="about">
    <h2>
      About Us
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam maiores
      repudiandae explicabo, dolore quas, minus accusamus <span class="highlight">
        cumque aspernatur
      </span> tenetur, consequuntur nisi! Illo dolorem asperiores quae qui, dolor
      eum ducimus rerum officiis unde? Distinctio, animi. Aut porro fugit incidunt
      architecto recusandae sunt voluptate, deleniti, alias sapiente iure veniam
      eveniet exercitationem vero quidem magnam esse doloremque odit atque ab fuga,
      et dolorum quam quod! <span class="highlight">
        Doloribus repudiandae
      </span>, est dolore quae aliquid molestiae quis voluptates! Molestias
      repellendus nemo iusto.
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam maiores repudiandae
      explicabo, dolore quas, minus accusamus cumque aspernatur tenetur, consequuntur
      nisi! Illo dolorem asperiores quae qui, dolor eum ducimus rerum officiis unde?
      <span class="highlight">Distinctio</span>, animi. Aut porro fugit incidunt
      architecto recusandae sunt voluptate, deleniti.
    </p>
    <img src="https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="cutboard with ingredients"
      class="about-round-img" />
    <img src="https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      alt="man cutting aliments"
      class="about-img" />
  </section>
{% endblock %}
