{% extends 'base.html.twig' %}

{% block title %}
  La Regina | Home
{% endblock %}

{% block content %}
  <section class="card" id="presentation">
    <h1>
      Welcome at <span class="logo logo-header">La Regina</span>
    </h1>
    <small>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
      mollitia?
    </small>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim aut aliquid
      minima recusandae aperiam quidem quos sit autem atque! Maxime aliquam
      repudiandae alias voluptates beatae ut eaque, excepturi, recusandae
      eveniet voluptatum quos quam reiciendis cum quo numquam, odio animi culpa
      veniam similique quisquam fugiat nulla quaerat perspiciatis! Quia,
      explicabo facilis.
    </p>
    <img src="https://images.unsplash.com/photo-1537047902294-62a40c20a6ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
      alt="restaurant"
      class="presentation-img" />
  </section>
{% endblock %}
