<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/app.js" defer></script>
    <link rel="stylesheet" href="/css/scroll.css" />
    <script src="https://kit.fontawesome.com/fd713c2769.js"
      crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap"
      rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
      rel="stylesheet" />
    <title>
      Regina | Admin Auth
    </title>
  </head>
  <body>
    <div class="cursor"></div>
    <header>
      <span class="logo">La Regina</span>
    </header>

    <main>
      <section class="card" id="register-admin">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{
          form_row(
            registrationForm.plainPassword,
            {
              label: 'Password'
            }
          )
        }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}

        <img src="https://images.unsplash.com/photo-1537047902294-62a40c20a6ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
          alt="restaurant"
          class="presentation-img" />
      </section>
    </main>
  </body>
</html>
